.fullPage{
    background-color: #000;
    height: 500vh;
    width: 100vw;
    position: fixed;
}

.font {
    font-family: 'VT323';
}

* {
    margin: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: 5em;
    background-color: rgb(37, 39, 53);
    display: flex;
    justify-content: flex-start;
    padding: 1em;
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: rgb(0, 183, 255);
    border-radius: 0.5em;
}


/* Responsible for the menu */
.menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(154, 181,240);
    position: absolute;
    top: 0;
    z-index: -1;
    border: 3px solid yellow;
}


/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.searchbar {
    height: 100vh;
    width: 50vw;
    background-color: black;

    overflow-y: auto;
}
.companyButton:hover{
    cursor:pointer;
    
    color: yellow;
}

.companyButton {
    outline: 'none';
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    color: white;
    font-family: 'Special Elite';


}
.changeCalendar {
    z-index: -1;
}
.returnButton:hover{
    cursor: pointer;
}

.returnButton {
    position: fixed;
    color: black;
    
    left: 0;
    bottom: 0;
    width: 15vw;
    height: 10vh;
    text-align: left;
    font-size: 10vh;
    text-align: center;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'VT323';
}

.apply_link {
    color: #DDC6B6;
    position: relative;
    
    font-family: 'Serif';
    text-decoration: none;
    
    
    font-size: 5vh;
    

    /* border: 1px red solid; */

}
.company_name {
    color: #DDC6B6;
    text-align: center;
    height: 30vh;
    /* border:1px solid black; */
    font-size: 7vh;
}



.close_modal {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7vh;
    background-color: #96351F;
    outline: none;
    border: none;
    color: #DBB98F;
    font-family: 'serif ';
    font-size: 3vh;
}

.close_modal:hover{
    cursor: pointer;
}

a { 
    color:#FFFFFF; 
    display:block; 
    text-align: center;
    width:100%;
} 

